name: Build macOS (Manual)

on:
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm run build

      - uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: dist/**
